.Click_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.Main_button {
    font-size: 30px;
    width: 290px;
    height: 200px;
    animation: moveLeftAndRight 5s linear infinite;
}


@keyframes moveLeftAndRight {
    0%, 100% {
      transform: translateX(-200px);
    }
    50% {
      transform: translateX(200px);  
    }
  }