.Click_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.Main_button {
    font-size: 30px;
    width: 290px;
    height: 200px;
    border: none;
    background-color:darkslategrey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    animation: moveLeftAndRight 5s linear infinite;
}

.Main_button:hover{
  background-color:rgb(70, 103, 103);
}


@keyframes moveLeftAndRight {
    0%, 100% {
      transform: translateX(-200px);
    }
    50% {
      transform: translateX(200px);  
    }
  }

.score_h1 {
  color: white;
}